#cont
{
    display:flex;
    flex-direction:row;
    justify-content:row reverse;
    height: 37px;
    width: 35px;
    border: 2px solid black
}
    div{
        width: 30px;
        height: 23px;
        border: 3px solid black
    }
    #one{
        background-color: blueviolet;
    }
    #two{
        background-color: beige;
    }
    



